[submodule "themes/hugo-cards"]
	path = themes/hugo-cards
	url = https://github.com/bul-ikana/hugo-cards
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/bul-ikana/hugo-cards
